<section class="action-strip-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Get your project started</h2>
        <a class="btn typeform-share" href="https://tinypint.typeform.com/to/JRKN9b" data-mode="1" target="_blank">start planning</a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>

<footer class="footer-6">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-6">
        <a href="{{ site.baseurl }}/">
          {% include logo_mark.html %}
        </a>
        <p>
          38 Fulton St. West<br> 
          Suite 400<br>  
          Grand Rapids, MI 49503
        </p>
        <p>
          P: +1 (616) 202-2466<br>
          E: inquire@tinypint.com
        </p>
      </div>
    
      <div class="col-md-4 col-sm-6">
        <h5>Twitter</h5>
        <div class="twitter-feed">
          <div class="tweets-feed" data-widget-id="581656993032622080">
        
          </div>
        </div>
      </div>
    
      <div class="col-md-2 col-md-offset-1 col-sm-12">
        <h5>Navigate</h5>
        <ul class="link-list">
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/work">Our Work</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-lower">
          <span>&copy; Copyright 2015 Tinypint, All Rights Reserved</span>
          <ul class="social-links">
            <li><a href="http://twitter.com/tinypint"><i class="icon social_twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  
  </div>  
</footer>