<section id="main" class="main">
  	<div class="overlay"></div>
  	<div class="main-inner">
    	<div class="main-copy">
    		<h1>We <span class="type"></span></h1>
    		<p>Great results don't require a large firm. We're a small, agile team focused on creating meaningful user experiences.</p>
    	</div>
  	</div>
</section>
<section class="lower">
	<div>
    <p>Have a project or idea? <a href="mailto:inquire@tinypint.com">Send us an email</a> or give us a call at <a href="tel:(616) 202-2466">(616) 202-2466</a>.</p>
  </div>
</section>