<section id="main" class="main">
  	<div class="overlay"></div>
  	<div class="main-inner">
    	<div class="main-copy">
    		<h1>We Make, Market &amp; Maintain Websites.<!--span class="typed"></span--></h1>
    		<p>Based in Grand Rapids, Michigan, we're a small, agile team and we're not happy until your customers are.</p>
    	</div>
  	</div>
</section>
<section class="lower">
	<div>
    <p>We're now booking projects for the end of January, 2015. <a href="/contact">Tell us about your project.</a></p>
  </div>
</section>