<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html style="home" %}
    {% include header_home.html %}
    <section id="main" class="main">
      <div class="overlay"></div>
      <div class="main-inner">
        <div class="main-copy">
          <h1>How Can We Help?</h1>
          <p>Based in Grand Rapids, Michigan, we're a small, agile team focused on creating meaningful user experiences.</p>
        </div>
      </div>
    </section>
    <section class="services grid">
      <div class="size"></div>
      <div class="item ot"><h2>Interaction &amp; Interface Development</h2></div>
      <div class="item ot"><h2>Visual Design</h2></div>
      <div class="item ot"><h2>Strategic Planning</h2></div>
      <div class="item tt"><h2>Branding &amp; Identity</h2></div>
      <div class="item h"><h2>Idea &amp; System Modeling</h2></div>
      <div class="item h"><h2>Let's Talk!</h2></div>
    </section>
  </body>
</html>
